<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | MAM</title>
    <!-- Styles -->
    <link rel="stylesheet" href="./css/about.css" />
  </head>
  <body>
    <div class="bigContainer">
      <header>
        <span><a class="bi bi-arrow-left-circle" href="../index.html" style="color: #000;"></a></span>
        <br>
        <span><i class="bi bi-list" id="menuIcon"></i></span>
        <nav>
          <ul>
            <li>
              <i class="bi bi-house-door"></i>
              <a href="#">Home</a>
            </li>
            <li>
              <i class="bi bi-question-circle"></i>
              <a href="#">About</a>
            </li>
            <li>
              <i class="bi bi-box-seam"></i>
              <a href="#">Services</a>
            </li>
            <li>
              <i class="bi bi-headset"></i>
              <a href="#">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <main>
          <div class="devAbout">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fugit maiores consequuntur temporibus nesciunt corrupti, perferendis velit ducimus accusamus vel? Magni fuga consequatur, dicta ipsam dolorem sequi esse temporibus? Blanditiis!
          </div>
          <div class="devStats">
            <div class="circular">
                <div class="inner"></div>
                <div class="outer"></div>
                <div class="numb">
                   0%
                </div>
                <div class="circle">
                   <div class="dot">
                      <span></span>
                   </div>
                   <div class="bar left">
                      <div class="progress"></div>
                   </div>
                   <div class="bar right">
                      <div class="progress"></div>
                   </div>
                </div>
            </div>
            <br>
            <h4>Web Design</h4>
            <br>
            <div class="circular">
                <div class="inner"></div>
                <div class="outer"></div>
                <div class="numb">
                   0%
                </div>
                <div class="circle">
                   <div class="dot">
                      <span></span>
                   </div>
                   <div class="bar left">
                      <div class="progress"></div>
                   </div>
                   <div class="bar right">
                      <div class="progress"></div>
                   </div>
                </div>
            </div>
            <br>
            <h4>Python</h4>
          </div>
          <div class="devStats">
            <div class="circular">
                <div class="inner"></div>
                <div class="outer"></div>
                <div class="numb">
                   0%
                </div>
                <div class="circle">
                   <div class="dot">
                      <span></span>
                   </div>
                   <div class="bar left">
                      <div class="progress"></div>
                   </div>
                   <div class="bar right">
                      <div class="progress"></div>
                   </div>
                </div>
            </div>
            <br>
            <h4>Web Design</h4>
            <br>
            <div class="circular">
                <div class="inner"></div>
                <div class="outer"></div>
                <div class="numb">
                   0%
                </div>
                <div class="circle">
                   <div class="dot">
                      <span></span>
                   </div>
                   <div class="bar left">
                      <div class="progress"></div>
                   </div>
                   <div class="bar right">
                      <div class="progress"></div>
                   </div>
                </div>
            </div>
            <br>
            <h4>Python</h4>
          </div>
      </main>
    </div>
    <!-- scripts -->
    <script src="./js/about.js"></script>
  </body>
</html>
