/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oswald&family=Ubuntu&family=Work+Sans:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bigContainer {
  display: flex;
}
.bigContainer header {
  width: 4vw;
  background-color: rgb(238, 238, 238);
  height: 100vh;
  transition: width 0.5s linear;
}
.bigContainer header.active {
  width: 15vw;
  transition: width 0.5s linear;
}
.bigContainer header span {
  font-size: 40px;
  cursor: pointer;
  margin: 7px;
}
.bigContainer header span .bi-x:hover {
    color: red;
}
.bigContainer header nav ul li,
.bigContainer header nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}
.bigContainer header nav {
  display: none;
  transition: display 0.7s ease;
}
.bigContainer header nav.active {
  display: block;
  padding: 30px;
  transition: display 1s ease;
  width: auto;
}
.bigContainer header nav.active li {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bigContainer header nav.active li:hover {
    background-color: #ffffff;
    color: #000;
    width: 100%;
}
.bigContainer header nav.active li:hover a {
    color: #06a4ff;
}

.bigContainer main {
  display: flex;
  width: 75vw;
  left: 17vw;
  position: fixed;
  border-radius: 16px;
  box-shadow: 1px 2px 145px -31px grey;
  top: 10vh;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  overflow-x: hidden;
}
.bigContainer main .devInfo,
.devPic {
  display: block;
}
.devInfo .helo {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  animation: heloText 0.5s linear forwards;
}
@keyframes heloText {
  from {
    font-size: 1px;
  }
  to {
    font-size: 35px;
  }
}
.devInfo .name {
  font-size: 45px;
  font-family: "Koulen", cursive;
  animation: nameText 2s linear forwards;
  overflow: hidden;
}
@keyframes nameText {
  from {
    width: 0px;
  }
  to {
    width: auto;
  }
}
.devInfo .skills {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 14px 0px;
}
.devInfo .skills span {
  display: block;
  padding: 6px 14px;
  box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 20%),
    0px 6px 20px 0px rgb(0 0 0 / 19%);
  font-family: "Work Sans", sans-serif;
  cursor: default;
}

.devInfo .btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.devInfo .btn-group button {
  background-color: #06a4ff;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 17px 0px grey;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Work Sans", sans-serif;
}
.devInfo .btn-group button i {
  display: none;
}
.devInfo .btn-group button:hover i {
  display: block;
  margin: 0px 10px;
  transition-delay: 1s;
}
.devPic > img {
  border-radius: 50%;
  /* right: 85px; */
  position: fixed;
  animation-name: comeBack;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes comeBack {
  from {
    right: 85px;
    width: 50px;
    top: 10px;
    opacity: 0.1;
    transform: rotate(90deg);
    border-radius: 50%;
  }
  to {
    right: 180px;
    width: auto;
    top: 80px;
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
.devPic {
  /* background-color: #000; */
  width: 490px;
  height: 530px;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .bigContainer {
    flex-direction: row;
    justify-content: initial;
  }
  .bigContainer main {
    width: 100%;
    position: relative;
    height: auto;
    top: 0;
    left: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 30px;
    box-shadow: none;
  }
  .bigContainer header {
    width: 20vw;
  }
  .bigContainer header.active {
    width: 50vw;
  }
  .devPic > img {
    border-radius: 50%;
    /* right: 85px; */
    /* position: fixed; */
    width: 280px;
    position: inherit;
    animation: none;
  }
  .devPic {
    width: auto;
    height: auto;
  }
  .bigContainer header nav.active li {
    padding: 20px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bigContainer header nav.active li i {
    display: block;
  }
  .bigContainer header nav.active {
    display: block;
    padding: 15px 0px;
  }
  .devInfo .btn-group button i {
    display: block;
    margin: 0px 10px;
  }
}
